@model IEnumerable<MadeService>

@{
    ViewData["Title"] = "Wykonane usługi";    
}

<br />
<h2>Wykonane usługi</h2>

<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                Id
            </th>
            <th>
                Data
            </th>
            <th>
                Kod usługi
            </th>
            <th>
                Jednostka kierująca
            </th>
            <th>
                Imię i nazwisko pacjenta
            </th>
            <th>
                PESEL pacjenta
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientPesel)
                </td>
            </tr>
        }
    </tbody>
</table>
